<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 3%; margin-left: 15%">
        <div class="container py-5 modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Course: {{aCourse.name}}</h2>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" action="/staff/staffUpdateCourse/doEditCourse" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="{{aCourse.id}}">
                                            <label>Name</label>
                                            <input class="form-control" type="text" name="name"  value="{{aCourse.name}}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>category</label>
                                            <input class="form-control" type="text" name="category" value="{{aCourse.category}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input class="form-control" type="text" name="description"  value="{{aCourse.description}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <center> <div  class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="/staff/staffViewCourse" class="btn btn-primary">Cancel</a>
                            </div>
                            </center> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>